
@font-face {
  font-family: 'Playlist-Script';
  src: url('Playlist-Script.eot?#iefix') format('embedded-opentype'),  url('Playlist-Script.otf')  format('opentype'),
	     url('Playlist-Script.woff') format('woff'), url('Playlist-Script.ttf')  format('truetype'), url('Playlist-Script.svg#Playlist-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}
