
@font-face {
  font-family: 'Lora-Regular';
  src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),  url('Lora-Regular.woff') format('woff'), url('Lora-Regular.ttf')  format('truetype'), url('Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
