
@font-face {
  font-family: 'Trocchi';
  src: url('Trocchi.eot?#iefix') format('embedded-opentype'),  url('Trocchi.woff') format('woff'), url('Trocchi.ttf')  format('truetype'), url('Trocchi.svg#Trocchi') format('svg');
  font-weight: normal;
  font-style: normal;
}
